body {
    background: linear-gradient(to right,cyan,rgb(129, 214, 134))
}

button {
    font-size: 30px;
}

@keyframes animate_of_food_chosen {
    0% {color: rgb(0, 0, 0);}
    50% {color: rgb(255, 47, 1);}
    100% {color: rgb(0, 0, 0);}
  }

#heading {
    font-size: 70px;
    text-align: center;
}

#food_chosen{
    font-size: 40px;
}